<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="JIRA" connectionString=""/>
  </connectionStrings>
  <appSettings>
    <add key="sleepTime" value="10"/>
    <add key="EmailUserName" value=""/>
    <add key="EmailPassword" value=""/>
    <add key="EmailSMTP" value="smtp.gmail.com"/>
    <add key="EmailSMTPPort" value="465"/>
    <add key="EmailSenderName" value=""/> 
    <add key="EmailSenderMail" value=""/>
    <add key="EmailReceivers" value="mert.oztekin@yemeksepeti.com"/>
    <add key="MessageLoggingParameter" value="7"/>
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
